/*吹き出し*/
.balloon_l,
.balloon_r{
    margin: 15px 0;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start; /*縦位置を上揃え*/
    /*   align-items: center; */ /*縦位置を真ん中揃え*/
}
.balloon_r{
    justify-content:flex-end;
}
.faceicon img{
    width: 40px; /*任意のサイズ*/
    height: auto;
}
.balloon_r .faceicon{
    margin-left:25px;
    margin-right:25px;
}
.balloon_l .faceicon{
    margin-right:25px;
}
.balloon_r .faceicon{
    order:2 !important;
}
.says {
    max-width:500px; /*最大幅は任意*/
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 8px 13px 8px 13px;
    border-radius: 12px;
    background: #8DE055;/*色は任意*/
    box-sizing:border-box;
    margin:0 !important;
    line-height:1.5;
    /*   align-items: center; */
}
.balloon_l .says {
    background: #ffffff;/*色は任意*/
}

.says p{
    margin:8px 0 0 !important;
}
.says p:first-child{
    margin-top:0 !important;
}
.says:after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    /*   margin-top:-3px;  */
}
.balloon_l .says:after {
    left: -20px;
    border-right: 22px solid #ffffff;
}
.balloon_r .says:after {
    right: -20px;
    border-left: 22px solid #8DE055;
}
